@import url("https://fonts.googleapis.com/css?family=Black+Ops+One|Oswald");
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font-size: 16px; }

input,
button,
submit {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.grid-wrapper {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-template-rows: 1fr 4fr 4fr; }
  @media screen and (max-width: 320px) {
    .grid-wrapper {
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-template-rows: 1fr 4fr 4fr; } }
  .grid-wrapper header {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px; }
  .grid-wrapper h1 {
    text-transform: uppercase; }
    .grid-wrapper h1 span {
      font-family: "Black Ops One", cursive;
      font-size: 3rem;
      padding-left: 1rem; }
    .grid-wrapper h1 span:nth-child(1) {
      display: block;
      width: 18rem;
      background-color: black;
      color: white; }
    .grid-wrapper h1 span:nth-child(2) {
      display: block;
      width: 24rem;
      background-color: olive;
      color: black; }
  .grid-wrapper h2 {
    grid-column: 9/12;
    grid-row: 1/1;
    color: black; }
    .grid-wrapper h2 span {
      display: block;
      font-family: "Oswald", sans-serif;
      font-size: 1rem; }

section {
  grid-column: 1 / span 12;
  grid-row: 2 / 3;
  background-color: black;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 2fr 1fr;
  grid-column-gap: 20px; }

.book-number {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 100px;
  height: 50px;
  margin-left: -20px;
  font-family: "Black Ops One", cursive;
  text-align: center;
  font-size: 2rem;
  color: olive;
  background-color: white;
  border: .3rem solid olive; }

.book-title {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  color: olive; }

.title-definition {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  width: 110px;
  font-family: "Oswald", sans-serif;
  font-size: .8rem;
  text-transform: lowercase;
  color: white; }

footer {
  grid-column: 1 / span 12;
  grid-row: 3 / 4;
  background-color: olive;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px; }

.footer__motto {
  grid-column: 1 / 3;
  align-self: end;
  height: 100px;
  background-color: white;
  color: black; }
  .footer__motto span {
    font-family: "Oswald", sans-serif; }
  .footer__motto span:nth-child(1) {
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
    transform: rotate(90deg); }
  .footer__motto span:nth-child(2) {
    width: 10px;
    margin-top: 1rem;
    display: inline-block;
    font-size: 10px;
    font-weight: normal; }

.footer__logo {
  grid-column: 12 / 13;
  align-self: end;
  padding: 1rem;
  width: 100px;
  background-color: white; }

/*# sourceMappingURL=grid-cover-1.css.map */