@import "base/reset";
@import "base/type";
@import "base/media-queries";

body {	
	padding: 1rem;
	font-family: 'Cantarell', sans-serif;	
}

.index__grid {				
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	// grid-template-rows: 1fr auto 1fr;
	grid-gap: .5em;	
}

.index__header {
	grid-column: 1 / -1;
	grid-row: 1;
}

.index__advanced {
	grid-column: 1 / 6;
	grid-row: 2;
}

.index__footer {
	grid-column: 1 / -1;
	grid-row: 3;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 46px;
	font-size: 43px;
	margin: 0 0 24px 0;
}

h2 {
	font-family: 'Cantarell', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin: 0 0 24px 0;
}

p {
	font-family: 'Cantarell', sans-serif;
	font-size: 17px;
	line-height: 23px;
	margin: 0 0 23px 0;
}

ul {
	margin-bottom: 8px;
}

