@import "core/core";

$breakpoints: (phone: 720px, tablet: 768px, medium: 992px, desktop: 1250px);

body {
    background: #949896;
    padding: 15px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 1em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 1em;
}

p {
    font-family: 'Gentium Basic', serif;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 1em;
    color: #3f4141;
}

blockquote {
    font-family: 'Gentium Basic', serif;
    font-size: 20px;
    line-height: 32px;
    font-style: italic;
    margin-bottom: 1em;
    color: #3f4141;
}

.mainnav {
    border-radius: 5px;
    box-shadow: 5px 0px 10px rgba(50, 50, 50, 0.75);
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.mainnav a {
    text-decoration: none;
    color: #3f4141;
}

.mainnav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
}

.mainnav li {
    border: 1px solid #999;
    border-radius: 2px;
    flex: auto;
    margin: 0 1em 1em 0;
    text-align: center;
}

article {
    border-radius: 5px;
    box-shadow: 5px 0px 10px rgba(50, 50, 50, 0.75);
    padding: .5em;
    background: white;
}

figure {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
}

.boxes {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.box {
    border: 1px solid #999;
    border-radius: 5px;
    flex: 1;
    margin: 0 1em 1em 1em;
    padding: 1em;
}

.box1 {
    order: 1;
}

.box2 {
    order: 3;
}

.box3 {
    flex: 2;
    order: 2;
}
