@import "core/core";

$breakpoints: (phone: 720px, tablet: 768px, medium: 992px, desktop: 1250px);

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans');

body {
    background: #949896;
    padding: 0.9375rem;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.625rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.375rem;
    margin-bottom: 1rem;
}


p {
    font-family: 'Gentium Basic', serif;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: #3f4141;
}

blockquote {
    font-family: 'Gentium Basic', serif;
    font-size: 1.25rem;
    line-height: 2rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #3f4141;
}

.mainnav {
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(50, 50, 50, 0.75);
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.mainnav a {
    text-decoration: none;
    color: #3f4141;
}

.mainnav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainnav li {
    border: 1px solid #999;
    border-radius: 2px;
    flex: auto;
    margin: 0 1rem 1rem 0;
    text-align: center;
}

article {
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(50, 50, 50, 0.75);
    padding: .5rem;
    background: white;
}

figure {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    text-align: center;
    margin: 0.625rem auto;
}


.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.box {
    border: 1px solid #999;
    border-radius: 5px;

    flex: 1;

    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 480px) {

    h1 {
        margin-top: 0;
        padding-top: 0;
    }

    .mainnav ul {
        flex-direction: column;
    }

    .boxes {
        flex-direction: column;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .mainnav ul {

        flex-direction: column;
        flex-wrap: nowrap;

    }

    .boxes {
        flex-direction: column;
    }

}

@media only screen and (min-width: 769px) {

    .mainnav ul {
        flex-wrap: nowrap;

    }
}
