@import "core/core";

$brand-colour: blue;
$page-colour: #A4A475;

body {
    margin: 10px 10px 0px 10px;
    padding: 0px;
    background: $page-colour;
}

.grid-wrapper {

    display: grid;
    grid-template-columns: [col-start] 1fr;
    grid-template-rows: repeat(5, [row-start] auto);

    @include media(">small") {
        grid-template-columns: repeat(12, [col-start] minmax(0, 1fr));
        grid-template-rows: repeat(3, [row-start] auto);
    }
    @include media(">large") {
        margin: 10px auto 0px auto;
        max-width: 1250px;
    }
}

header {
    grid-column: col-start 1 / span 12;
    grid-row: row-start 1;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header__logo {
    @include media("<small") {
        @include img-responsive;
    }
}

.header__image {
    display: none;
    @include media(">small") {
        display: block;
    }
}

nav {
    grid-column: col-start 1;
    grid-row: row-start 2;
    background: white;
    @include padding(null 1rem 1rem 1rem);
    @include media(">small") {
        grid-column: col-start 1 / span 3;
    }
    @include media(">medium") {
        grid-column: col-start 1 / span 2;
    }

    a {
        color: black;
        background: #FFF;
        font: 12px $verdana;
        text-decoration: none;
        border: 1px solid #000;
        display: block;
        padding: 3px 5px;
        margin: 7px;
        &:hover {
            background: lighten( $page-colour, 10%);
        }
        @include media(">small") {
            width: 105px;
        }
    }
}

article {
    grid-column: col-start 1;
    grid-row: row-start 3;
    background: white;
    @include padding(null 1rem 1rem 1rem);
    @include media(">small") {
        @include padding(null null 1rem null);
        grid-column: col-start 4 / span 8;
        grid-row: row-start 2;
    }
    @include media(">medium") {
        grid-column: col-start 3 / span 8;
    }
}

aside {
    grid-column: col-start 1;
    grid-row: row-start 4;
    background: white;
    @include media(">small") {
        @include padding(null 1rem 1rem 1rem);
        grid-column: col-start 12 / span 1;
        grid-row: row-start 2;
    }
    @include media(">medium") {
        grid-column: col-start 11 / span 2;
    }
}

footer {
    grid-column: col-start 1;
    grid-row: row-start 5;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    background: white;
    font-family: $verdana;
    font-size: modular-scale(-1);
    @include padding(null 1rem 1rem 1rem);
    @include media(">small") {
        grid-column: col-start 1 / span 12;
        grid-row: row-start 3;
        display: grid;
        grid-template-columns: repeat(12, [col-start] minmax(0, 1fr));
        grid-template-rows: [row-start] auto;
    }
}

.footer__copyright {
    grid-column: col-start 1;
    grid-row: row-start 1;
    @include padding(null null 1rem null);

    @include media(">small") {
        grid-column: col-start 1 / span 3;
        padding: 0;
    }

    @include media(">medium") {
        grid-column: col-start 1 / span 2;

    }
}

.footer__topofpage {
    grid-column: col-start 1;
    grid-row: row-start 1;
    @include media(">small") {
        grid-column: col-start 4 / span 6;
    }
    @include media(">medium") {
        grid-column: col-start 3 / span 8;
    }
}

.footer__topofpage__img {
    vertical-align: middle;
}

.footer__lastupdated {
    grid-column: col-start 1;
    grid-row: row-start 1;
    justify-self: end;
    @include media(">small") {
        grid-column: col-start 10 / span 3;
    }
    @include media(">medium") {
        grid-column: col-start 11 / span 3;
    }
}

a {
    &:link {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $brand-colour;
    font-family: $verdana;
    margin-bottom: modular-scale(-2);
}

h1 {
    font-size: modular-scale(3);
}

h2 {
    font-size: modular-scale(1);
}

p {
    color: black;
    font-family: $georgia;
    font-size: modular-scale(0);
    line-height: modular-scale(1);
    margin-bottom: modular-scale(-2);
}
