@import "core/core";

$breakpoints: (phone: 720px, tablet: 768px, medium: 992px, desktop: 1250px);

body {
    background: white;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: [mobile-column] 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 1rem;
    @include media(">tablet") {
        grid-template-columns: [nav-start] 185px [nav-end section-start] 1fr [section-end];
        grid-template-rows: [first-row-start] auto [first-row-end second-row-start] auto [second-row-end];
        padding: 0;        
    }
    @include media(">medium") {
        background: url(../images/nostalgia-2/greenstrip.gif) repeat-y top right;
    }
    @include media(">desktop") {
        margin: 0 auto 0 auto;
        max-width: 1250px;
    }
}

.upper__left {
    display: none;
    @include media(">tablet") {
        display: block;
    }
}

.lower__left {
    display: none;
    @include media(">tablet") {
        display: block;
        grid-column: nav-start / nav-end;
        grid-row: second-row-start;
    }
}

.lower__right {
    display: none;
    @include media(">tablet") {
        display: block;
    }
}

.mobile__logo {
    @include img-responsive(block);
    @include center-block;
    @include padding(null null 1rem null);
    @include media(">tablet") {
        display: none;
    }
}

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include media(">medium") {
        background: url(../images/nostalgia-2/greenstrip.gif) repeat-y top left,
        url(../images/nostalgia-2/greenstrip.gif) repeat-y top right;
    }
}

.nav__map {
    display: none;
    @include media(">tablet") {
        display: block;
    }
}

section {
    grid-column: mobile-column;
    grid-row: 2 / 3;

    @include media(">tablet") {

        max-width: 600px;
        margin: 0 auto;

        grid-column: section-start / section-end;
        grid-row: first-row-start / first-row-end;
    }

}

.section__image {
    @include img-responsive(block);
    margin: 0 auto;
}

footer {
    grid-column: mobile-column;
    grid-template-rows: 3 / 4;
    @include media(">tablet") {
        grid-column: section-start / section-end;
        grid-row: second-row-start / second-row-end;
    }

    display: flex;
    justify-content: space-between;
}

a {
    &:link {
        background: none;
        color: #8F8E1C;
        text-decoration: none
    }
    &:visited {
        background: none;
        color: #336600;
        text-decoration: none
    }
    &:hover {
        background: none;
        color: #0000CC;
        text-decoration: none
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background: none;
    color: #666633;
    font-family: $helvetica;
    margin-bottom: modular-scale(-2);
}

h1 {
    font-size: modular-scale(2);
    @include media(">medium") {
        font-size: modular-scale(3);
    }
}

h2 {
    font-size: modular-scale(1);
}

p {
    color: black;
    font-family: $georgia;
    font-size: modular-scale(0);
    line-height: modular-scale(1);
    margin-bottom: modular-scale(-2);
}
