body {
    margin: 10px 10px 0px 10px;
    padding: 0px;
    background: #A4A475;

    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: 130px 700px 100px;
}

.topofpage {
    // grid-column: 1 / 1;
    // grid-row: 1 / 2;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: white;
}

.header__logo {}

.header__image {}

nav {
    grid-column: 1 / 12;
    grid-row: 2 / 3;
    background: white;
}

section {
    grid-column: 4 / 9;
    grid-row: 2 / 3;
    background: white;
}

aside {
    grid-column: 9 / 13;
    grid-row: 2 / 3;

    background: white;
}

footer {
    grid-column: 1 / 13;
    grid-row: 3 / 4;

    background: white;
}

a {
    &:link {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

.sansa {
    font-family: Arial, Helvetica, sans-serif;
}

.sansb,
.sansa small b,
.sansa b small,
small.sansa b,
small b.sansa {
    font-family: "Myriad Web", Verdana, Helvetica, Arial, sans-serif;
}

.serifa {
    font-family: "Minion Web", Georgia, Palatino, "Times New Roman", serif;
}

small.sansa,
.sansa small {
    font-family: Helvetica, sans-serif;
}

big.sansb,
.sansb big {
    font-family: "Myriad Web", Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

.min {
    font-family: "Myriad Web", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

H1,
H2,
H3,
H4,
H5,
H6 {
    color: blue;
    background: none;
    font-family: Verdana, Arial, helvetica, sans-serif;
}

P {
    color: black;
    background: none;
    font-family: "Minion Web", Georgia, Palatino, "Times New Roman", serif;
}