A:link {
    background: none;
    color: #8F8E1C;
    text-decoration: none
}

A:visited {
    background: none;
    color: #336600;
    text-decoration: none
}

A:hover {
    background: none;
    color: #0000CC;
    text-decoration: none
}

.sansa {
    font-family: Arial, Helvetica, sans-serif
}

.sansb,
.sansa small b,
.sansa b small,
small.sansa b,
small b.sansa {
    font-family: "Myriad Web", Verdana, Helvetica, Arial, sans-serif
}

.serifa {
    font-family: "Minion Web", Georgia, "new century schoolbook", Palatino, "Times New Roman", serif
}

small.sansa,
.sansa small {
    font-family: Helvetica, sans-serif
}

big.sansb,
.sansb big {
    font-family: "Myriad Web", Tahoma, Verdana, Helvetica, Arial, sans-serif
}

.min {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background: none;
    color: #666633;
    font-family: 'Arial', 'helvetica', sans-serif;
}

h2 {
    background: none;
    color: #666633;
    font-family: 'Arial', 'helvetica', sans-serif;
}

h3 {
    background: none;
    color: #666633;
    font-family: 'Arial', 'helvetica', sans-serif;
}

h4 {
    background: none;
    color: #666633;
    font-family: 'Arial', 'helvetica', sans-serif;
}

h5 {
    background: none;
    color: #666633;
    font-family: 'Arial', 'helvetica', sans-serif;
}

h6 {
    background: none;
    color: #666633;
    font-family: 'Arial', 'helvetica', sans-serif;
}

TD {
    background-color: white;
    color: black;
    font-family: "Minion Web", Georgia, "new century schoolbook", Palatino, "Times New Roman", serif
}

P {
    background: none;
    color: black;
    font-family: "Minion Web", Georgia, "new century schoolbook", Palatino, "Times New Roman", serif
}

P.italics {
    background: none;
    color: black;
    font-family: "Minion Web", "Georgia", "new century schoolbook", "Palatino", "Times New Roman", serif;
    font-style: italic;
}

UL {
    background: none;
    color: black;
    font-family: "Minion Web", Georgia, "new century schoolbook", Palatino, "Times New Roman", serif
}

LI {
    background: none;
    color: black;
    font-family: "Minion Web", Georgia, "new century schoolbook", Palatino, "Times New Roman", serif
}

B {
    background: none;
    color: black;
    font-family: "Minion Web", Georgia, "new century schoolbook", Palatino, "Times New Roman", serif;
    font-weight: bold;
}