@import "core/core";

@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  background-color: red;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  height: 95vh;
  display: flex;
}

@include media(">xmedium") {
  body {
    justify-content: center;
    align-items: center;
  }

  .rs-grid {
    max-width: 800px;

    display: grid;
    grid-template-areas:
      ". . author author"
      ". . . ."
      "heading heading heading heading"
      "text1 . text2 text2"
      "subheading subheading subheading subheading"
      "text3 . text4 text4"
      ". . . ."
      ". . text5 .";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, minmax(100px, min-content));
    grid-gap: 0.5rem;
  }

  .rs-grid > * {
    border: 1px solid #ffb4ac;
  }

  .rs-grid__author {
    grid-area: author;
    font-size: 1.2rem;
  }

  .rs-grid__heading {
    grid-area: heading;
    font-size: 6rem;
  }

  .rs-grid__subheading {
    grid-area: subheading;
    font-size: 6rem;
  }

  .rs-grid__text1 {
    grid-area: text1;
  }

  .rs-grid__text2 {
    grid-area: text2;
  }

  .rs-grid__text3 {
    grid-area: text3;
  }

  .rs-grid__text4 {
    grid-area: text4;
  }

  .rs-grid__text5 {
    grid-area: text5;
    display: flex;
    align-items: flex-end;
  }
}
