@import "core/core";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
  background-color: red;
  font-family: "Roboto", sans-serif;
  font-size: modular-scale(1);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-grid {
  max-width: 700px;
  display: grid;
  grid-template-areas:
    ". . author author"
    ". . . ."
    "heading heading heading heading"
    "text1 . text2 text2"
    "subheading subheading subheading subheading"
    "text3 . text4 text4"
    ". . . ."
    ". . text5 .";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, minmax(100px, min-content));
  grid-gap: 0.5rem;
}

.rs-grid > * {
  border: 1px solid #ffb4ac;
}

.rs-grid__author {
  grid-area: author;
}

.rs-grid__heading {
  grid-area: heading;
  // font-size: modular-scale(5);
  @include responsive-font(10vw, modular-scale(2), modular-scale(5));
  font-weight: 700;
}

.rs-grid__subheading {
  grid-area: subheading;
  @include responsive-font(10vw, modular-scale(2), modular-scale(5));
}

.rs-grid__text1 {
  grid-area: text1;
}

.rs-grid__text2 {
  grid-area: text2;
}

.rs-grid__text3 {
  grid-area: text3;
}

.rs-grid__text4 {
  grid-area: text4;
}

.rs-grid__text5 {
  grid-area: text5;
  display: flex;
  align-items: flex-end;
}
