@import "core/core";

@import url('https://fonts.googleapis.com/css?family=Oswald');

$breakpoints: (phone: 720px, tablet: 768px, medium: 992px, desktop: 1250px);

$ft-breakpoints: (
  small: 480px,
  medium: 800px  
);

$red: #e00001;
$blue: #000053;
$orange: #f67002;
$green: #1d4d14;

html {
    background: url(../images/univers/paper.jpg) repeat;
}

body {
    font-family: 'Oswald', sans-serif;
    margin-top: 1em;
    color: white;
}

.univers-grid-container {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-gap: 0.5rem;
  grid-template-areas:
    "heading"
    "author"
    "text1"
    "text2"
    "subheading"
    "text3"
    "text4"
    "text5";

}

.red {
    background: $red;
}

.blue {
    background: $blue;
}

.orange {
    background: $orange;
}

.green {
    background: $green;
}


