@import "core/core";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

$breakpoints: (
  "small": 385px
);

$ft-breakpoints: (
  small: 480px,
  medium: 800px  
);

body {
position: relative;
display: flex;
  justify-content: center;
  align-items: center;
}


.used__image {
  @include img-responsive;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.used__outer-container {
  background: black;
  
  width: 70%;
  height: 20%;

  position: absolute;
  top: 10%;
  left: 10%;

  color: white;
  background: rgb(59, 2, 6);
  mix-blend-mode: multiply;

}

.used__heading {

  color: white;
  background: rgb(59, 2, 6);
  mix-blend-mode: multiply;

  font-size: 3rem;
  text-transform: uppercase;
}
