@import "../core/core";

$breakpoints: (phone: 720px, tablet: 768px, medium: 992px, desktop: 1250px);

@import "base";

// ==Dashboard Page

body {
	background: $darkblue;
	width: 100%;
	// min-width: 24.5rem;
}

.mainContainer {

	@include responsiveImages;

	@include flexContainer;
	@include flexColumn;
	@extend .flexStart;

	@include breakpoint(large) {
		
		// outline: 1px solid red;
		@include flexContainer;
		@include flexRow;
		max-height: 24.75rem;
	}
}

// Primary Navigation Area

.primaryNav {

	@include flexContainer;
	@include flexAlign(center);
	@include flexSpaceBetween;

	background: $midblue;
	position: relative;
	z-index: 2;
	box-shadow: 5px 0px 5px 5px black;

	font-size: 1.1rem;
	padding: .8em 1em .5em;

	@include breakpoint(large) {
		padding: 0 1em 0;
	}
}

// Dashboard Logo

h1.logoDashboard {

	display: none;

	@include breakpoint(large) {

		display: block;

		@include imageReplace;
		width: 114px;
		min-width: 114px;
		height: 40px;
		margin: 5px .5em 0 0;
		padding: 0;
		background: url(../../../images/nu-facebook/nav/fb_logo.svg) no-repeat;
		transition: all 0.25s ease-in-out;
		@include hoverOver;
	}
	
}

// Primary Navigation Bar Elements

menu {
	@include flexContainer;

	padding: 0;
	margin: 0;
	list-style: none;
}

menu li {
	margin: 0;
	padding-right: 1em;
	
	&:last-of-type {
		padding-right: 0;
	}
}

menu.actionBar, nav.searchBar label {

	display: none;

	@include breakpoint(large) {
		@include flexContainer;
	}
}

menu.messageBar li img {
	transition: all 0.25s ease-in-out;
	@include hoverOver;
}

.notification-container {
	position: relative;
}

.notification-counter {   
	position: absolute;
	top: -6px;
	left: 12px;
	background-color: rgba(212, 19, 13, 1);
	color: #fff;
	border-radius: 3px;
	padding: 1px 3px;
	font: 8px pt_sansregular, sans-serif;
}

menu.actionBar li {
	@include darkenObject;

	&:first-of-type {
		opacity: 1;
	}
}

nav form label, input {
	font-size: .8em;
	padding-right: .5em;
}

.search-input-icon {
	@include darkenObject;
	@include iconFont;
	position: absolute;
	margin-left: .5em;
}

input[type=search] {
	width: 8.375em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0 0 0 2.3em;
	border-radius: 2em;
	border: none;
	background: $darkblue;
	box-shadow: 0 0 0 0 white,inset 0 2px 3px 0 black;
	color: white;
	outline: none;
	transition: all 0.25s ease-in-out;

	&:focus {
		box-shadow: 0 0 7px 0 white,inset 0 2px 3px 0 black;
	}
}

// Secondary Navgiation Bar

.secondaryNav {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	@include flexContainer;
	@include flexAlign(center);
	@include flexSpaceBetween;
	position: relative;
	z-index: 1;
	background: $darkgrey;
	box-shadow: 0px 0px 5px 1px black;
}

.sideBar {
	transition: all 0.25s ease-in-out;

	&:hover {
		@include darkenObject;
	}
}

div.sidr {

	menu {

		@include flexContainer;
		@include flexColumn;

		margin-top: 2rem;

		&:nth-of-type(1) {
			margin-top: 0;
		}
	}

	menu li {

		margin-top: 1rem;

		&:nth-of-type(1) {
			margin-top: 0;
		}
	}
}

hr {
	display: block;
	border: 0;
	height: 0;
	border-top: 1px solid rgba($darkgrey, 0.9);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	margin: 1rem 0;
	width: 90%;
	text-align:left;
}

div.topSidr {
	@include flexContainer;

	menu {
		padding-left: 1rem;
		@include flexContainer;
		@include flexJustify(center);
	}
	
	menu li {		
		padding: 0;
		margin: 0;
	}

	menu li:nth-child(2) {
		@extend .typeSmaller;
		@include darkenObject;	
	}

}

menu.middleSidr {
	@extend .typeLarger;
	span {
		@include darkenObject;
	}
}

menu.appBarSidr {

	@extend .typeSmaller;

	list-style-type: none;

	li {
		background: url('../../../images/nu-facebook/fbdashboard/sideBarApps.png') no-repeat;
		padding-left: 2rem;
		margin: 0;
		height: 15px;
	}

	li.sbAppCenter {
		background-position: 0 0;
		height: 1rem;
	}

	li.sbGamesFeed {
		background-position: -1px -18px;
	}

	li.sbMessages {
		background-position: -1px -34px;
	}

	li.sbNotes {
		background-position: -1px -52px;
	}

	li.sbPhotos {
		background-position: -1px -67px;
	}

	li.sbEvents {
		background-position: -1px -83px;
	}
}

menu.bottomSidr {

	position: absolute;
	bottom: 0;
	padding-bottom: 1rem;

	li:nth-child(1) {
		@extend .typeLarger;
	}

	li:nth-child(5) {
		// background: black;
	}

	span {
		@include darkenObject;
	}
}

span.headLine, menu.changeView, menu.viewFriends {
	display: none;

	@include breakpoint(large) {
		@include flexContainer;
	}
}


menu.changeView li img {
	transition: all 0.25s ease-in-out;

	&:hover {
		box-shadow: 0 0 10px 0 white;
	}
}

menu.viewFriends li span {
	@include darkenObject;
}

label.bubble:before {
	@include iconFont;
	content:'J';
	padding-right: .5em;
	color: yellow;
}

input[type=text] {
	font-family: Georgia, serif;
	width: 15em;
	height: 2em;
	padding-left: 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: $lightgrey;
	box-shadow: 0 0 0 0 white,inset 0 2px 3px 0 black;
	color: white;
	outline: none;
	transition: all 0.25s ease-in-out;

	&:focus {
		box-shadow: 0 0 3px 0 white,inset 0 2px 3px 0 black;
	}
}

// Dashboard Grid Settings

.speechBubble {
	margin: 0;
	padding: 0;
	position: relative;
	background: white;
	color: $darkblue;
	// width: 90%;
	height: auto;
}

.speechBubble:after {
	content: "";
	position: absolute;
	top: -17px;
	left: 23px;
	border-style: solid;
	border-width: 0 16px 17px;
	border-color: white transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.postedOn {
	font-size: 1.2rem;
}

.postedOnLink {
	font-size: 1.2rem;
	color: $lightblue;
}

span.likeButton:before {
	@include iconFont;
	content:'8';
	padding-right: .3em;
	color: $lightblue;
}

span.commentButton:before {
	@include iconFont;
	content:'b';
	padding-right: .3em;
	color: $lightblue;
}

span.starIcon:before {
	@include iconFont;
	content:'s';
	padding-right: .3em;
	color: $lightblue;
}

span.statusIcon:before {
	@include iconFont;
	content:'b';
	padding-right: .3em;
	color: green;
}

.mediumBoxStatus {
	color: black;
	background: white;
	padding: .5em;
	// max-width: 420px;
}

.mediumBoxAction {
	// max-width: 420px;
	padding: .5em;
	color: black;
	background: $messageBoxAction;
	overflow: hidden;

	span:nth-child(3) {
		margin-left: .5em;
	}
}

.container1 {
	background: $midblue;
	@include flexGrow(1);
	@include flexContainer;
}

.container2 {
	background: $midblue;
	@include flexGrow(2);
	@include flexContainer;
	@include flexColumn;
}

.container3 {
	background: $midblue;
	@include flexGrow(3);	
	@include flexContainer;
	@include flexColumn;
	max-width: 630px;
}

.messageBox {
	@include flexGrow(2);

	@include flexContainer;
	@include flexColumn;
	@include flexJustify(center);
	color: black;
	background: white;
	
	padding: 1em;

	@include breakpoint(large) {
		padding-left: 1em;

	}
}

.messageBoxAction {
	padding: 1em 1em 1em .2em;
	color: black;
	background: $messageBoxAction;
	overflow: hidden;

	span {
		margin-left: .5em;
	}

	@include breakpoint(large) {
		padding: .5em 1em .2em .2em;

	}
}

.videoPlayBack {
	@include flexContainer;
	background-color: $darkblue;
	max-height: 198px;
}

footer {
	box-shadow: 0px 0px 5px 1px black;
}