$brown: #e9eae2;
$light-brown: #dfe0d9;
$tobano: #f7f7f3;
$aqua: #7acec3;
$yellow: #ebb240;
$darkgrey: #5b6e7b;
$lightgrey: #eaeaea;
$news-grey: #6a6969;
$pink: #ff9b6d;
$orange: #f68751;
$light-green: #d4edbf;