@import "../base/reset";
@import "../base/media-queries";

body {
	padding: 1rem;
}

.grid div {
	border: 1px solid rgb(0,95,107);
	border-radius: 3px;
	background-color: rgba(0,95,107,0.8);
	padding: 0.2em;
	color: #fff;
	font-size: 120%;
	font-weight: bold;
}

.grid div:nth-child(even) {
	border: 1px solid rgb(100,100,0);
	border-radius: 3px;
	background-color: rgba(100,100,0,0.8);
	padding: 0.2em;
}
